<robot name="pass_the_butter">
    <link name="base_link"/>

    <link name="base">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <visual name="motor_base">
            <origin xyz="0.0 0.0 -0.03" rpy="0.0 0.0 1.57"/>
            <geometry>
                <mesh filename="package://pass_the_butter_description/meshes/visual/base_full.dae"/>
            </geometry>
        </visual>
        <visual name="front_bumper">
            <origin xyz="0.0 0.0 -0.032" rpy="0.0 0.0 1.57"/>
            <geometry>
                <mesh filename="package://pass_the_butter_description/meshes/visual/bumper.dae"/>
            </geometry>
        </visual>
        <visual name="rear_bumper">
            <origin xyz="0.0 -0.0 -0.032" rpy="0.0 0.0 -1.57"/>
            <geometry>
                <mesh filename="package://pass_the_butter_description/meshes/visual/bumper.dae"/>
            </geometry>
        </visual>
        <visual>
            <origin xyz="0.09 0.0 0.0" rpy="0.0 1.57 0.0"/>
            <geometry>
                <cylinder radius="0.021" length="0.087"/>
            </geometry>
        </visual>
        <visual>
            <origin xyz="-0.09 0.0 0.0" rpy="0.0 1.57 0.0"/>
            <geometry>
                <cylinder radius="0.021" length="0.087"/>
            </geometry>
        </visual>
        <visual>
            <origin xyz="-0.14 0.0 0.0" rpy="0.0 1.57 0.0"/>
            <geometry>
                <cylinder radius="0.002" length="0.012"/>
            </geometry>
        </visual>
        <visual>
            <origin xyz="0.14 0.0 0.0" rpy="0.0 1.57 0.0"/>
            <geometry>
                <cylinder radius="0.002" length="0.012"/>
            </geometry>
        </visual>
        <!-- TODO -->
        <!-- <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://pass_the_butter_description/meshes/collision/base_full.stl"/>                
            </geometry>
        </collision>>-->
    </link>

    <joint name="base_base_link" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="base"/>
    </joint>
    
    <link name="wheel_left">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.0575" length="0.03"/>
            </geometry>
            <material name="">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="1.570796 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.0575" length="0.03"/>
            </geometry>
        </collision>
    </link>

    <joint name="base_wheel_left" type="revolute">
        <origin xyz="-0.16 0.0 0.0" rpy="1.570796 0.0 1.570796"/>
        <parent link="base"/>
        <child link="wheel_left"/>
        <axis xyz="1.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <link name="wheel_right">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.0575" length="0.03"/>
            </geometry>
            <material name="">
                <color rgba="0.0 0.0 0.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.0575" length="0.03"/>
            </geometry>
        </collision>
    </link>

    <joint name="base_wheel_right" type="revolute">
        <origin xyz="0.16 0.0 0.0" rpy="1.570796 0.0 1.570796"/>
        <parent link="base"/>
        <child link="wheel_right"/>
        <axis xyz="1.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>
</robot>